footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #b8e4f0;
    height: 40px;
    padding: 10px;
    color: grey;
    font-size: 18px;
    font-family: "Poppins";
}